<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debug.pmp.model.mapper.SysUserPostMapper">

    <select id="selectByUserId" resultType="com.debug.pmp.model.entity.SysUserPost">
        SELECT
			*
		FROM
			sys_post a,
			sys_user_post b
		WHERE
			a.post_id = b.post_id
			AND b.user_id = #{userId}
    </select>
</mapper>
